/* This creates a skinny side bar fixed to the left of the page */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 5rem;
  padding: 2rem 1rem;
  background-color: #cbd3dd;
  z-index: 1050;
  transition: width 0.1s ease-in-out;
  color: black;
  overflow-y: auto;
}

/* when the user hovers on the sidebar, expand it */
.sidebar:hover {
  width: 25rem;
}

/* sidebar loses hover when dragging an ag grid row
make sure sidebar is still visible while dragging */
.sidebar:has(.ag-row-dragging) {
  width: 25rem;
}

/* make sure the contents of the navlink don't wrap when navbar collapses */
.sidebar .nav {
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  display: flex;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
}

/* fix the width of the icons */
.sidebar i {
  width: 1rem;
  margin-left: 15px;
}

/* hide the navlink labels by default */
.sidebar .nav {
  visibility: hidden;
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
}

/* when the sidebar is hovered, reveal the labels */
.sidebar:hover .nav {
  visibility: visible;
  opacity: 1;
  color: black;
}

/* sidebar loses hover when dragging an ag grid row
make sure nav items display while dragging */
.sidebar:has(.ag-row-dragging) .nav {
  visibility: visible;
  opacity: 1;
  color: black;
}

/* container for the sidebar header. make sure the contents don't wrap when
   * the sidebar is collapsed.
   */
.sidebar-header {
  display: flex;
  justify-content: left;
  align-items: center;
  white-space: nowrap;
}

/* position the header relative to the logo and hide by default */
.sidebar-header span {
  opacity: 0;
  margin-left: 1rem;
  margin-bottom: 0;
  transition: opacity 0.1s ease-in-out;
}

/* reveal the header when the sidebar is toggled */
.sidebar:hover .sidebar-header span {
  opacity: 1;
  font-size: large;
}

/* sidebar loses hover when dragging an ag grid row
make sure header displays while dragging */
.sidebar:has(.ag-row-dragging) .sidebar-header span {
  opacity: 1;
  font-size: large;
}

/* position the content relative to the collapsed sidebar */
.content {
  margin-left: 7rem;
  margin-right: 2rem;
  padding: 2rem 1rem;
  margin-top: 1rem;
}

/* shift content when sidebar is displayed */
.sidebar:hover + .content {
  margin-left: 23rem;
}

/* sidebar loses hover when dragging an ag grid row
make sure content stays shifted while dragging */
.sidebar:has(.ag-row-dragging) + .content {
  margin-left: 23rem;
}